@import './../styles/components/responsive';

.section {
  min-height: calc(100dvh - 90px);
}

.tools {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  gap: 10px;
  background: #1e1f20;
  color: var(--white);
  isolation: isolate;
  border-radius: 999px;

  .action {
  }

  input,
  button {
    height: 32px;
    border-radius: 999px;
  }

  label {
    font-size: 1.4rem;
  }

  button {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37393b;

    &:hover {
      transform: scale(0.8);
    }

    span {
      font-size: 1.6em;
      padding: 0.25rem;
      background: var(--white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  input {
    &[type='text'] {
      width: 60px;
      display: flex;
      background: #282829;
      color: #a7b0b7;
      border: none;
      text-align: center;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }

    &[type='color'] {
      all: unset;
      -webkit-appearance: none;
      appearance: none;
      width: 28px;
      height: 28px;
      background: var(--white);
      text-align: center;
      border-radius: 999px;
      cursor: pointer;

      &::-webkit-color-swatch {
        border: none;
        padding: 0;
        border-radius: 999px;
      }

      &::-webkit-color-swatch-wrapper {
        border: none;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 999px;
      }
    }
  }
}

/* Board */
.board {
  width: 100%;
  height: 800px;
  overflow: auto;
  border: 1px dashed #aaa;
  background-color: var(--white);
  font-family: 'basis33';
  resize: both;

  svg {
    width: 100%;
    height: 100%;
    cursor: crosshair;

    rect {
      &:hover {
        fill: #aaaaaa;
        pointer-events: all;
      }
    }
  }
}

.token,
.layer,
.form {
  width: 100%;
  height: 220px;
}

.token {
  padding: 1rem;
  gap: 1rem;
  overflow-y: scroll;

  &__item {
    background-color: var(--black-025);
    padding: 0.5rem;
    border-radius: 4px;

    figure {
      border:1px solid var(--white);
      background-color: var(--white);
      img {
       
      }
    }
  }

  button {
    all : unset;
    width: 40px;
    text-align: center;
    border-radius: 999px;
    height: 20px;
    padding: .2rem .7rem;
    background-color: var(--black-050);
    color: var(--black);
    cursor: pointer;
  }

  figure {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.layer {
  padding: 1rem;
  gap: .1rem;
  overflow-y: scroll;

  &__item {
    background-color: var(--black-025);
    padding: 0.5rem;
    border-radius: 4px;
    width:100%;
   height: 80px;
  }

  input {
    width: 100%;
    padding: 0.24rem;
    border: 1px solid var(--global-border-color);
  }
}

.form {
  select,
  input {
    width: 100%;
    height: 37px;
    border: 1px solid var(--black-100);
    padding: 0.5rem;
  }
}

.token,
.layer,
.preview {
  height: 240px;
}

.preview {
  svg {
    width: 100%;
    height: 100%;
  }
}